# Inserir na Tabela Categoria

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server Native Client 11.0}', server = 'LUCASROCHA', database = 'empresa', trusted_connection = 'yes', uid = 'Lucas Willian')

In [3]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [4]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('celulares', 'telefones celulares');"
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchone ()
            return linha

In [5]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

(1, 'celulares', 'telefones celulares')

In [6]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        nome = input ("Informe o nome da categoria: ")
        descricao = input ("Informe a descrição da categoria: ")
        parametros = tuple ((nome, descricao))
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [7]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
 
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        nome = input ("Informe o nome da categoria: ")
        descricao = input ("Informe a descrição da categoria: ")
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml, nome, descricao)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linhas = cursor.fetchall ()
            return linhas

In [8]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

[(1, 'celulares', 'telefones celulares'), (2, '', '')]

In [9]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = [
            ('livros', 'livros impressos'),
            ('eletroeletrônicos', 'dispositivos eletroeletrônicos'),
            ('alimentos', 'alimentos não perecíveis')
        ]
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [10]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

[(1, 'celulares', 'telefones celulares'), (2, '', ''), (3, 'livros', 'livros impressos'), (4, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (5, 'alimentos', 'alimentos não perecíveis')]

In [11]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def valores (self):
        parametros = []
        while True:
            nome = input ("Informe o nome da categoria: ") 
            descricao = input ("Informe a descrição da categoria: ")
            parametros.append ((nome, descricao))
            print (parametros)
            resp = input ("Deseja informar outro registro? (s/n)")
            if (resp == "n"):
                break
        return parametros
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = self.valores ()
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.executemany (dml, parametros)
            # self.conexao.commit ()
            sql = "select * from Categoria;"
            cursor.execute (sql)
            linha = cursor.fetchall ()
            return linha

In [12]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

[('', '')]
[(1, 'celulares', 'telefones celulares'), (2, '', ''), (3, 'livros', 'livros impressos'), (4, 'eletroeletrônicos', 'dispositivos eletroeletrônicos'), (5, 'alimentos', 'alimentos não perecíveis'), (6, '', '')]

In [2]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    
    def inserir (self):
        dml = "insert into Categoria (nome, descricao) values ('cozinha', 'utensílios de cozinha');"
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            # self.conexao.commit ()
            sql = "select cast (scope_identity () as int);"
            cursor.execute (sql)
            id = cursor.fetchone ()[0]
        
            return id